<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>用户列表</title>
</head>
<body>
    <h2>欢迎: {{ request.session.user }}</h2> <br/>
    <h1>{{ info }}</h1>
    <a href="/users/logout/">登出</a>
    <table>
        <thead>
            <tr>
                <th>用户名</th>
                <th>年龄</th>
                <th>电话</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
        {% for v in users %}
            <tr>
                <td>{{ v.name }}</td>
                <td>{{ v.age }}</td>
                <td>{{ v.tel }}</td>
                <td><a href="/users/view_users/?name={{ v.name }}">编辑基本信息</a></td>
                <td><a href="/users/view_users_passwd/?name={{ v.name }}">修改密码</a></td>
                <td><a href="/users/delete_users/?name={{ v.name }}">删除</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="/users/edit_user_info/">创建用户</a>
</body>
</html>