<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>增加用户信息</title>
</head>
<body>
    <h2>增加用户信息</h2>
    <form action="{% url "user:create" %}" method="POST">
        {% csrf_token %}
       用户名: <input type="text" name="username" placeholder="用户名">
        <br/><br/>电话号码: <input type="text" name="tel" placeholder="电话号码">
        <br/><br/>密码: <input type="password" name="password" placeholder="密码">
        <br/><br/><input type="submit" value="增加">
    </form>
</body>
</html>