<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>留言</title>
    </head>
    <body>
        <!-- 我是注释 -->
        <h3>留言</h3> <!--h1-> h6-->
        <!--method: POST /GET -->
        <form action="/online/save/" method="POST" novalidate="novalidate">
            {% csrf_token %}
            <table>
                {{ form.as_table }}

            </table>
            <input type="submit" value="留言"/>
            <!--
            这里说明一点：如果是直接form.as_table就可以把label显示出来,但是如果分开写，比如{{ forms.username }}
            就不会显示label，而且还需要自己写换行符，但是对于required属性是没影响的
            -->
            <!--
            <label>用户名:</label> <input type="text" name="username"/> <br /><br />
            <label>标题:</label> <input type="text" name="title"/><br /><br />
            <label>内容:</label> <input type="text" name="content"/><br /><br />
            -->

        </form>
    </body>
</html>
