<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>first div</div>
<iframe src="300470.jpg" width="100%" height="100%"></iframe>>
<iframe src="http://www.bing.com" width="100%" height="100%"></iframe>>
<div><a href="300470.jpg">111</a></div>
<span>first span </span><span>first span </span><span>first span </span><span>first span </span><span>first span </span>
<p>1
<p>2
<p>3

<ul>
    <li>werw</li>
    <li>werw</li>
    <li>werw</li>

</ul>



<ol>
    <li>werw</li>
    <li>werw</li>
    <li>terw</li>

</ol>



<label>性别</label><input type="radio" name="sex" value="1" checked="checked">男<input name="sex" type="radio" value="0">女
<--通过name绑定是一组  通过 checked 默认勾选-->


<label>爱好</label><input type="checkbox" name="hobby" value="1" checked="checked">乒乓球<input name="hobby" type="checkbox" value="0">听歌
<input name="hobby" type="checkbox" value="2">女
<input name="hobby" type="checkbox" value="3">游戏
<--通过name绑定是一组  通过 checked 默认勾选-->



<label>部门</label>
<select name="department">
    <option value="1">1</option>
     <option value="2">2</option>
     <option value="3">3</option>
</select>


<label>简介</label><textarea name="remark"></textarea><br/>


<label>出生日期</label><input type="datetime" name="birthday">
<label>邮箱</label><input type="email" name="email">
<label>主页</label><input type="url" name="url">



</body>
</html>