<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>留言板</title>
    </head>
    <body>
        <form action="/online/save/" method="GET">
            留言者： <input type="text" name="username" /> <br /><br />
            标题：   <input type="text" name="title" /> <br /><br />
            内容：   <input type="text" name="content" /> <br /><br />
            内容2：   <textarea name="content2">content2</textarea> <br /><br />
            <input type="submit" value="留言">
        </form>
    </body>
</html>
