<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>用户登录</title>
        <style type="text/css">
            body{
                background-color: #98969c;
                margin-left:20%;
                margin-right:20%;
                #border:2px dotted black;
                padding:10px 10px 10px 10px;
                font-family:sans-serif;
            }
            div{ margin:0 auto;
                width:400px;
                height:100px;
            }
        </style>
    </head>
    <body>
    <div style="color:#90ccff" class="center">
        <h1>用户登录</h1>
        <form action="/user/login/" method="POST" novalidate="novalidate">
            {% csrf_token %}
            <!--
                <label>用户名:</label><input type="text" name="username" value="{{ username }}"/><br/><br/>
                <label>密码:</label><input type="password" name="password" value="{{ password }}"/><br/><br/>
            -->
            <table>
                {{ form.as_table }}
            </table>
            <p style="margin-left:40%">

            <input type="submit"  value="登录" />
            </p>
        </form>
    </div>
    </body>
</html>
