<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'/>
    <title>sophisticated</title>
</head>
<body>

    <font color="#FF0000">{{ error }}</font> 


    <form action="/online/save/" method="get">
        <label>用户名：</label><input type="text"  name="username" /><br/><br/>
        <label>标题：</label><input type="password"  name="title" /><br/><br/>
        <label>内容：</label><input type="text" name="content" /><br/><br/>
        <input type="submit" value="submit"  />
    </form>
</body>
</html>