<!DOCTYPE HTML>
<html>
    <head>
		<meta charset='utf-8'>
		<title>注册</title>
	</head>
	<body>
		<div style="color:red"> {{ error }} </div>
		<form action="/user/add_save/" method="POST">
			{% csrf_token %}
			<label>UserName:</label><input type='text' name='add_name' value="{{ username }}"><br><br>
			<label>Age:     </label><input type='text' name='add_age' value="{{ age }}"><br><br>
			<label>Tel:     </label><input type='text' name='add_tel' value="{{ tel }}"><br><br>
			<label>PassWord:</label><input type='password' name='add_pass' value="{{ password }}"><br><br>
        	<input type='submit' value='注册'>
		</form>
	</body>
</html>
