<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>用户修改</title>
    </head>
    <body>
		<div style="color:red">{{ error }}</div>
    	<h1>用户: {{ users.username }} 基本信息修改</h1>       
		<form action="/user/edit_save/" method="POST">
			{% csrf_token %}
			<input name='uid' type='hidden' value="{{ users.id }}" >
			<label>年龄:</label><input type="text" name="edit_age" value="{{ users.age }}"/><br/><br/>
			<label>联系方式:</label><input type="text" name="edit_tel" value="{{ users.tel }}"/><br/><br/>
			<input type="submit" value="确认修改"/><br/><br/>
		</form>
    </body>
</html>
