
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">	
		<title></title>
		<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" href="http://cdn.bootcss.com/font-awesome/4.6.2/css/font-awesome.min.css">
	</head>
	<body>
		<br>


		<div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-4">
                        <h1>用户管理系统</h1>
                </div>
            </div>
			<div class="row">
				<div class="col-md-12">
					<table class="table table-hover table-bordered"> 
						<tr class="table active">
							<th>
								<input type="checkbox" id="chkAll">
							</th>
							<th>编号</th>
							<th>姓名</th>
							<th>电话</th>
							<th>年龄</th>
                            <th>编辑</th>
						</tr>
                        {% for u in users %}
						<tr>
							<td>
								<input type="checkbox" name="u{{ forloop.counter }}"/>
							</td>
							<td>{{ u.pk }}</td>
							<td>{{ u.username }}</td>
							<td>{{ u.tel }}</td>
							<td>{{ u.age }}</td>
							<td>
								<a href="/user/list/?username={{ u.username }}" class="btn btn-default"><i class="fa fa-search"></i>查看</a>
								<a href="/user/edit_before/?username={{ u.username }}" class="btn btn-default"><i class="fa fa-pencil"></i>编辑</a>
								<a href="{% url 'user:delete' u.username %}" class="btn btn-default"><i class="fa fa-trash-o"></i>删除</a>
							</td>
							
						</tr>
                        {% endfor %}
					</table>
				</div>
			</div>
	
		</div>
	</body>
	<script src="http://cdn.static.runoob.com/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</html>
