<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户信息</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>名字</th>
                <th>年龄</th>
                <th>密码</th>
                <th>电话</th>
            </tr>
        </thead>
        <tbody>
            {% if users %}
                {% for user in users %}
                    <tr>
                        <td>{{ user.name }}</td>
                        <td>{{ user.age }}</td>
                        <td>{{ user.password }}</td>
                        <td>{{ user.tel }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr><td colspan="4">暂无数据</td></tr>
            {% endif %}
        </tbody>
    </table>
    <a href="/users/home">返回主界面</a>
</body>
</html>