<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>修改密码</title>
    </head>
    <body>
        <h1>修改密码</h1>
        <form action="/users/modify_passwd/" method="POST" novalidate="novalidate">
            <input type="hidden" name="id" value="{{ id }}"/>
            <input type="hidden" name="action" value="{{ action }}"/>
            <label>密码:</label><input type="password" name="password"/><br/><br/>
            <input type="submit" value="编辑"/><br/><br/>
        </form>
    </body>
</html>
